.head {
    background-color: aquamarine;
    overflow: hidden;
    padding: 10px 20px;
    margin: 0;
}
nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    li a {
        display: inline-block;
        color: rebeccapurple;
        text-align: center;
        padding: 16px;
        font-family: Verdana, Tahoma;
        text-decoration: none;
        font-weight: bold;
    }
    
    li a:hover {
        background-color: goldenrod;
    }

    li a.active {
        color: whitesmoke;
    }
}