<div class="wrapper">
    <h1>Our Team</h1>
    <div class="team">
        <div class="team_member">
        <h3>Nabarun Champramnari</h3>
        <p class="role">190050070</p>
        <div class="ema">
            <span class="material-icons">
                mail
                </span>
            <p> 190050070@iitb.ac.in</p>
        </div>
        </div>
        <div class="team_member">
        <h3>Raja Gond</h3>
        <p class="role">190050096</p>
        <div class="ema">
            <span class="material-icons">
                mail
                </span>
            <p> 190050096@iitb.ac.in</p>
        </div>
        </div>
        <div class="team_member">
        <h3>Rajulapudi Kale Mastansha Goud</h3>
        <p class="role">190050098</p>
        <div class="ema">
            <span class="material-icons">
                mail
                </span>
            <p> 190050098@iitb.ac.in</p>
        </div>
        </div>
    </div>
    </div>	

