h3 {
    font-family: 'Allura', cursive;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center; 
}

.mp {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
  border: 2px solid blueviolet;
  margin : 0 auto;
  padding: 20px;
  font-family: Impact, 'Lucida Sans', 'Arial Narrow Bold', sans-serif;
  font-size: medium;
  font-weight: 200;
}
.mp .form-groups {
    padding: 20px;
    width: auto;
}
.mp .form-groups label {
    float: left;
    text-decoration: none;
    text-align: left;
}
.mp .form-groups label textarea {
      float: right;
      width: 60%;
      height: auto;
      padding: 6px 10px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: both;
}
.mp .form-groups button {
    margin-top: 5%;
}